#quadrado-container {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  margin-top: auto;
}

.extrato-container {
  max-width: 800px;
  margin: 0 auto;
}

.filtro-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #002f67; /* Cor do texto para rótulos */
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  padding: 12px 25px;
  background-color: #002f67;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.transacao-titulo {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 2px solid #004085; /* Azul mais escuro para a borda */
  color: #002f67;
  font-size: 16px;
  background-color: #d9e8f4; /* Fundo azul suave para o cabeçalho */
}

.transacao-titulo div {
  width: 23%; /* Define a largura de cada título para alinhamento */
  text-align: center; /* Alinha o texto no centro */
}

.transacao-lista {
  margin-top: 10px;
}

.transacao-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e0f0ff; /* Azul claro para a borda das transações */
  font-size: 14px;
  background-color: #f5faff; /* Azul claro de fundo para as transações */
  color: #333; /* Cor do texto */
}

.transacao-item:nth-child(even) {
  background-color: #e6f0ff; /* Cor de fundo azul mais clara para transações pares */
}

.transacao-item .valor {
  font-weight: bold;
}

.transacao-item.positivo .valor {
  color: green; /* Transações com valores positivos */
}

.transacao-item.negativo .valor {
  color: red; /* Transações com valores negativos */
}

.transacao-item div {
  width: 23%;
  text-align: center;
}

.status-ok {
  color: green;
}

.status-pendente {
  color: orange;
}

h2 {
  color: #002f67;
  font-size: 28px;
}


h3{
  color: #003366;
  font-size: 20px;
}