#quadrado-container {
    width: 100%;
    max-width: 900px; 
    padding: 30px; 
    background-color: #ffffff;
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    margin-top: auto;
  }
  
  .extrato-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .filtro-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #002f67; /* Cor do texto para rótulos */
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  .transacao-titulo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    color: #002f67; /* Cor do texto para o cabeçalho da transação */
  }
  
  .transacao-lista {
    margin-top: 10px;
  }
  
  .transacao-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: #002f67; /* Cor do texto para as transações */
  }
  
  .transacao-item div {
    width: 23%;
    text-align: center;
  }
  
  .status-ok {
    color: green;
  }
  
  .status-pendente {
    color: orange;
  }
  h2 {
    color: #002f67;
  }