<div id="quadrado-container" class="content-section">
  <div class="extrato-container">
    <h2>Consultar Extrato</h2>

    <form (ngSubmit)="filtrarExtrato()" class="filtro-form">
      <div class="form-group">
        <label for="dataInicio">Data Início:</label>
        <input type="date" id="dataInicio" [(ngModel)]="dataInicio" name="dataInicio" required />
      </div>

      <div class="form-group">
        <label for="dataFim">Data Fim:</label>
        <input type="date" id="dataFim" [(ngModel)]="dataFim" name="dataFim" required />
      </div>

      <button type="submit" class="btn-submit">Exibir Extrato</button>
    </form>

    <h3>Histórico de Transações</h3>
    <div class="transacao-titulo">
      <div><strong>Data</strong></div>
      <div><strong>Valor</strong></div>
      <div><strong>Tipo de Transação</strong></div>
      <div><strong>Descrição</strong></div>
    <div><strong>Operação</strong></div>
    </div>

    <div class="transacao-lista">
      <div *ngFor="let transacao of transacoes" class="transacao-item">
        <div>{{ transacao.dataTransacao }}</div>
        <div>R$ {{ transacao.valorTransacao | number: '1.2-2' }}</div>
        <div>{{ transacao.tipoTransacao }}</div>
        <div>{{ transacao.descricaoTransacao }}</div>
        <div>{{transacao.tipoOperacao}}</div>
      </div>
    </div>
  </div>
</div>
