.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-right: 200px;
  }
  
  .logout-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    color: #002f67;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
    color: #333;
  }
  
  .btn-logout {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn-logout:hover {
    background-color: #c9302c;
  }
  
  .btn-cancel {
    background-color: #0088ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-cancel:hover {
    background-color: #1919e6;
  }
  