.content-section {
  width: 100%;
  max-width: 1050px;
  height: 33.6em;  
  padding: 30px;
  background-color: #f0f8ff;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px; 
  margin-top: 11px;
}

.form-saque {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #002f67;
  margin-bottom: 10px;
}

i {
  margin-right: 5px;
}

input {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  border-color: #002f67;
}

input:focus {
  border-color: #002f67;
  outline: none;
}

.btn-submit {
  padding: 15px;
  font-size: 18px;
  background-color: #002f67;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%;
}

.mensagem {
  color: black;
}

h1,h2 {
  color: #002f67;
  text-align: start;
  font-size: 28px;
}

.form-wrapper {
  flex: 1;
  max-width: 100%; 
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; 
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: contain; 
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column; 
    text-align: center;
  }

  .form-wrapper, .image-wrapper {
    max-width: 100%;
  }

  .image-wrapper img {
    max-width: 100%; 
  }
}