<div id="quadrado-container" class="content-section">
    <div class="edicao-dados-container">
      <form (ngSubmit)="onSubmit()" class="edicao-dados-form">
        <h2>Atualize seus Dados Pessoais</h2>
  
        <div class="form-group">
          <label for="telefone"><i class="fas fa-phone"></i>Telefone:</label>
          <input type="tel" id="telefone" [(ngModel)]="telefone" name="telefone" placeholder="Atualize seu o telefone" required />
        </div>
  
        <div class="form-group">
          <label for="email"><i class="fas fa-envelope"></i>E-mail:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Atualize seu o e-mail" required />
        </div>
  
        <button type="submit" class="btn-submit">Salvar Alterações</button>
  
        <div class="mensagem" *ngIf="mensagem">
          {{ mensagem }}
        </div>
      </form>
    </div>
  </div>