p{
  color: black;
  margin-top: 1em;
}
.custom-border {
  border: 4px solid #002b5c ; 
}
.custom-button {
  color: #001a3a !important;
}
.custom-button:hover {
  color:blue !important;
}
.i {
  margin: auto;
}
.modal-content {
  background-color: #f8f9fa; 
}

.modal-body {
  background-color: #ffffff; 
}