<section class="image-text-section">
    <div class="image-container">
      <img src="https://img.freepik.com/fotos-gratis/pov-de-mulher-de-negocios-em-videochamada-com-a-equipe-sentada-no-escritorio-durante-a-meia-noite_482257-5206.jpg?ga=GA1.1.1550484827.1736378285&semt=ais_tags_boosted" alt="Imagem informativa">
    </div>
    <div class="text-container">
      <h2>Soluções Financeiras Personalizadas</h2>
      <p>Descubra como nossos serviços podem ajudar você a gerenciar melhor suas finanças e alcançar seus objetivos.</p>
    </div>
</section>