<div id="quadrado-container" class="content-section">
  <div class="visualizar-container">
    <h2>Gerenciar Clientes</h2>

    <div class="usuario-titulo">
      <div><strong>ID</strong></div>
      <div><strong>CPF</strong></div>
      <div><strong>Nome</strong></div>
      <div><strong>E-mail</strong></div>
      <div><strong>Telefone</strong></div>
      <div><strong>Abertura</strong></div>
      <div><strong>Nº Conta</strong></div>
      <div><strong>Agência</strong></div>
      <div><strong>Tipo Conta</strong></div>
      <div><strong>Ações</strong></div> 
    </div>

    <div class="usuario-lista">
      <div *ngFor="let usuario of usuarios; let i = index" class="usuario-item">
        <div>{{ usuario.idUsuario }}</div>
        <div>{{ usuario.cpfUsuario }}</div>
        <div>{{ usuario.nomeUsuario }}</div>
        <div class="email">{{ usuario.emailUsuario }}</div>
        <div>{{ usuario.telefoneUsuario }}</div>
        <div>{{ usuario.dataCriacao }}</div>
        <div>{{ usuario.conta?.numeroConta }}</div>
        <div>{{ usuario.conta?.numAgencia }}</div>
        <div>{{ usuario.conta?.tipoConta == 1 ? 'Simples' : 'Premium' }}</div>
        <div class="acoes">
          <button (click)="editarUsuario(usuario)">
            <i class="bi bi-pencil-square" id="update"></i>
          </button>|
          <button (click)="deletarUsuario(usuario.cpfUsuario)">
            <i class="bi bi-trash3" id="delete"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Edição -->
  <app-usuarioedicao 
    [usuarioParaEdicao]="usuarioParaEdicao"
    (cancelar)="cancelarEdicao()"
    (salvar)="salvarEdicao($event)">
  </app-usuarioedicao>
</div>
