* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    font-size: 0.8em;
  }