h1 {
    color: #002f67;
  }

  .container{
    display: flex;
    margin-top: -5px;
    gap: 30px;
  }
  
  p {
    font-size: 18px;
    margin-top: 5px;
    color: #002f67;
    text-align: justify;
  }
  
  .saldo-container {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    color: #002f67;
    display: flex;
    align-items: center;
  }
  
  .saldo-text {
    margin-right: 10px;
  }
  
  .fas {
    cursor: pointer;
    font-size: 1.5em;
    color: #002f67;
  }

  .container-flex {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.card {
  flex: 1; 
  max-width: 640px; 
  min-height: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  height: 100%; 
  object-fit: cover; 
}
.container-flex {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: -10px;
}

.card {
  flex: 1; 
  max-width: 640px; 
  min-height: 100px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  height: 195px; 
  width: 100%;
  object-fit: cover; 
}
