<div class="sidebar">
    <h2>Trust Bank</h2>
    <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
    <a routerLink="/deposito" routerLinkActive="active"><i class="fas fa-credit-card"></i> Depósito</a>
    <a routerLink="/saque" routerLinkActive="active"><i class="fas fa-cash-register"></i> Saque</a>
    <a routerLink="/transferencia" routerLinkActive="active"><i class="fas fa-exchange-alt"></i> Transferência</a>
    <a routerLink="/pagamento" routerLinkActive="active"><i class="fas fa-money-check-alt"></i> Pagar Boleto</a>
    <a routerLink="/pix" routerLinkActive="active"><i class="fas fa-qrcode"></i> Área Pix</a>
    <a routerLink="/extrato" routerLinkActive="active"><i class="fas fa-file-alt"></i> Consultar Extrato</a>
    <a routerLink="/saldo" routerLinkActive="active"><i class="fas fa-file-alt"></i> Consultar Saldo</a>
    <a routerLink="/configuracoes" routerLinkActive="active"><i class="fas fa-cogs"></i> Editar Dados</a>
    <a routerLink="/logout" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
  