<header>
  <div class="logo">
    <i class="fas fa-university"></i>
    <span>Trust Bank</span>
  </div>
  <div>
      <button (click)="openClientLogin()" class="btn"><i class="fas fa-user"></i> Sou Cliente</button>
      <app-login *ngIf="showClientLogin" (close)="closeLogin()"></app-login>
      <button (click)="openManagerLogin()" class="btn"><i class="fas fa-key"></i> Sou Gerente</button>
      <app-admlogin *ngIf="showManagerLogin" (close)="closeLogin()"></app-admlogin>
  </div>
</header>


