<section class="faq-section">
    <h2>Ficou alguma dúvida?</h2>
    <p>Se a sua dúvida não estiver nas perguntas frequentes, fala com a gente!</p>
    <div class="faq">
      <div class="faq-item">
        <div class="faq-question">O site do Trust Bank é fácil de usar?<span>+</span></div>
        <div class="faq-answer">Com um design moderno e menus simples, você pode acessar todos os serviços de forma rápida.</div>
      </div>
      <div class="faq-item">
        <div class="faq-question">Como abrir uma conta no Trust Bank?<span>+</span></div>
        <div class="faq-answer">Abrir uma conta é muito fácil, entre em contato com um dos nossos gerentes.</div>
      </div>
      <div class="faq-item">
        <div class="faq-question">O banco é seguro?<span>+</span></div>
        <div class="faq-answer">Sim, utilizamos tecnologia de ponta para garantir a segurança de seus dados.</div>
      </div>
    </div>
</section>