<div class="card-bancario">
  <div class="card-header">
    <img src="assets/image.png" alt="Chip do cartão" class="chip">
    <img src="assets/contactless.png" alt="contactless" class="contac">
    
    <div class="logo-container">
      <h6>Trust Bank</h6>
    </div>
  </div>
  
  <p class="nome">{{ nomeCliente }}</p>
  
  <div class="dados">
    <p>Conta: <span>{{ numeroConta }}</span></p>
    <p>Agência: <span>{{ agencia }}</span></p>
  </div>
  
  <div class="footer">
    <p>Tipo: <span>{{ tipoConta }}</span></p>
    <img src="assets\mastercard.png" alt="Mastercard Logo" class="bandeira-cartao">
</div>
</div>
