body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 100px;
}

.main-content {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.card a {
  text-decoration: none;
  color: #002b5b;
  font-weight: bold;
}

.crud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #fffdfd;
  }
  
  h1 {
    font-size: 2rem;
    color: #002f67;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.2rem;
    color: #002f67;
    margin-bottom: 30px;
  }
  
  .crud-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
  }
  
  .btn-create {
    background-color: #28a745;
  }
  
  .btn-create:hover {
    background-color: #218838;
  }
  
  .btn-read {
    background-color: #007bff;
  }
  
  .btn-read:hover {
    background-color: #0056b3;
  }
  
  .btn-update {
    background-color: #ffc107;
    color: #333;
  }
  
  .btn-update:hover {
    background-color: #e0a800;
  }
  
  .btn-delete {
    background-color: #dc3545;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  
  .features {
    padding: 60px 40px;
    background-color: #f0f8ff;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2.5em;
    color: #004080;
    margin-bottom: 20px;
  }

  .features h3 {
    font-size: 1.1em;
  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 40px;
  }
  
  .feature-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    flex: 1;
  }
  
  .feature-card i {
    font-size: 3em;
    color: #002f67;
    margin-bottom: 10px;
  }

  .feature-card:hover {
    transform: translateY(-5px);
  }

  .saldo-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .text-center{
    margin-right: 100px;
  }