<div class="text-center">
    <h1>Bem-vindo(a) a área do Gerente!</h1>
    <p>Gerencie seus clientes:</p>
  </div>
  
  <body>
      <div class="main-content">
          <h1></h1>
          <div class="card-container">
              <div class="card"><h4><i class="bi bi-person-add"></i></h4>
                  <h5>Novo Cliente</h5>
                  <a routerLink="/adm/admcadastro" routerLinkActive="active">Acessar</a>
              </div>
              <div class="card"><h4><i class="bi bi-person-lines-fill "></i></h4>
                  <h5>Meus Clientes</h5>
                  <a routerLink="/adm/visualizar" routerLinkActive="active">Acessar</a>
              </div>
              <div class="card"><h4><i class="fas fa-cogs"></i></h4>
                  <h5>Logs de Acesso</h5>
                  <a routerLink="/adm/admlogs" routerLinkActive="active">Acessar</a>
              </div>
          </div>
      </div>
  </body>  
