.title {
  color: #004080;
}

.subtitle {
  color: #004080;
}

.quote-card {
  border-left: 5px solid #004080;
}

.quote-icon {
  font-size: 2rem;
  color: #004080;
}

.quote-title {
  color: #004080;
}

.quote-text {
  font-size: 1.2rem;
}

.card-custom {
  border: 1px solid #004080;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  color: #004080;
}

.card-title {
  color: #004080;
}

.card-text {
  color: #004080;
}

.card-btn {
  background-color: #004080;
  border-color: #004080;
}

.card-btn:hover {
  background-color: #003366;
  border-color: #003366;
}

.container{
  margin-left: -12px;
  margin-top: -26px;
}